In [1]:
import pandas as pd 
df = pd.read_csv("/Users/yeesh/OneDrive/Desktop/Netflix_Userbase.csv")

In [2]:
df.head()

,User ID,Subscription Type,Monthly Revenue,Join Date,Last Payment Date,Country,Age,Gender,Device,Plan Duration
0,1,Basic,10,15-01-22,10-06-23,United States,28,Male,Smartphone,1 Month
1,2,Premium,15,05-09-21,22-06-23,Canada,35,Female,Tablet,1 Month
2,3,Standard,12,28-02-23,27-06-23,United Kingdom,42,Male,Smart TV,1 Month
3,4,Standard,12,10-07-22,26-06-23,Australia,51,Female,Laptop,1 Month
4,5,Basic,10,01-05-23,28-06-23,Germany,33,Male,Smartphone,1 Month

In [ ]:
#subscription types 
#monthly or yearly subscription
#differences in price of subscription 
#Data Visualisation 
 #sales per month
 #most popular subscription type
 # gender vs subscription type 
 #number of users vs country

In [3]:
df.isnull().sum()

User ID              0
Subscription Type    0
Monthly Revenue      0
Join Date            0
Last Payment Date    0
Country              0
Age                  0
Gender               0
Device               0
Plan Duration        0
dtype: int64

In [4]:
print(df['Subscription Type'].unique())

['Basic' 'Premium' 'Standard']

In [5]:
print(df['Plan Duration'].unique())

['1 Month']

In [6]:
df.count()

User ID              2500
Subscription Type    2500
Monthly Revenue      2500
Join Date            2500
Last Payment Date    2500
Country              2500
Age                  2500
Gender               2500
Device               2500
Plan Duration        2500
dtype: int64

In [7]:
duplicate_rows_df = df[df.duplicated()]
print("number of duplicate rows: ", duplicate_rows_df.shape)

number of duplicate rows:  (0, 10)